body{
	margin: 0;
	padding: 0;
	background: black;
}


#boxcontent{

	background:rgba(255,155,0,0.7);
	
	
}

.boxheader{



}
.boxheader h3{
	padding:5% 5% 1% 5%;
	color:white;
	text-align: center;
	font-family: "Super market", Times, serif;

}

.boxheader .headercontent{
	padding:0% 2% 2% 2%;

}


.boxheader .headercontent span{
	padding-left: 10%;
	color:white;
	size:14px;
	text-align: left;
	font-family: "Super market", Times, serif;

}

.boxheader .headercontent button{
	margin-left:39%;
	background:rgba(255,155,0,0.7);
	border-color: white;
	border-width: 3px;
}


.boxarticle{
	
}
.boxarticle .articlecontent{
	padding:0% 2% 2% 2%;

}


.boxarticle .articlecontent #test{
	padding-left: 10%;
	color:white;
	size:14px;
	text-align: left;
	font-family: "Super market", Times, serif;

}



.boxfooter{
	

}
.kwamkidbox{
	width: 100%;
	height: 50%;
}
.kwamkidbox form textarea{
	resize:none;
	width:100%;
	height:80%;
	
	border-color:orange;

}

.kwamkidbox form input{
	margin-top:5px;
	float: right;
}
